__pycache__/  # Кеш Python
*.pyc         # Скомпилированные .py файлы
*.pyo         # Оптимизированные .py файлы
*.sqlite3     # Файл SQLite базы (если используется)
.env          # Файл с секретами и конфигурацией (не должен попадать в репозиторий)
venv/         # Локальное виртуальное окружение (не нужно в Docker)
.DS_Store     # Файлы Mac OS X